@using BasePackageModule1.Areas.Identity.Pages.Account.Manage
@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="#">pro sidebar</a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-header">

            <div class="user-info">
                <span class="user-name">
                    @*@Model.name*@ 
                    <strong>Smith</strong>
                </span>
                <span class="user-role">Administrator</span>
                <span class="user-status">
                    <i class="fa fa-circle"></i>
                    <span>Online</span>
                </span>
            </div>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/Identity/Account/Manage">
                        <i class="fa fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/Identity/Account/CreateAgreement">
                        <i class="fa fa-user"></i>
                        <span>Create Agreement</span>
                    </a>
                </li>
                <li>
                    <a href="/Identity/Account/MyAgreement">
                        <i class="fa fa-user"></i>
                        <span>My Agreement</span>
                    </a>
                </li>
                <li>
                    <a href="/Identity/Account/ReceivedDocument">
                        <i class="fa fa-file-download"></i>
                        <span>Received Agreement</span>
                    </a>
                </li>
                <li>
                    <a href="/Identity/Account/Manage">
                        <i class="fa fa-user"></i>
                        <span>My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="document.getElementById('logout').submit(); return false;">
                        <i class="fa fa-power-off"></i>
                        <span>Log Out</span>
                    </a>
                    @*<a href="#" class="nav-link" onclick="document.getElementById('logout').submit(); return false;">Logout</a>*@

                    <form id="logout" class="d-none" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                        <button type="submit" class="nav-link btn btn-link dropdown-item">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->

</nav>
