@page
@using BasePackageModule1.Areas.Identity.Pages.Account.Manage
@model IndexModel
@{ Layout = "~/Areas/Identity/Pages/Account/Manage/_Layout.cshtml"; }

<div class="container emp-profile">
    <form method="post">
        <div class="row">
           

            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                       @Model.Username
                    </h5>
                    
                   
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="button" data-toggle="modal" data-target="#exampleModaledit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />

                <div class="modal fade" id="exampleModaledit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center ml-auto" id="exampleModalLabel">Edit Profile</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <label for="inputState">Full Name</label>
                                        <input type="text" class="form-control" placeholder="First Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState"> Email</label>
                                        <input type="email" class="form-control" placeholder="First Name">
                                    </div>
                                </div>

                                <div class="form-row">

                                    <div class="form-group col-md-6">
                                        <label for="inputState">Phone</label>
                                        <input type="tel" class="form-control" placeholder="First Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputState"> Confirm Password</label>
                                        <input type="password" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            
                <div class="col-md-8">
                    <div class="card mt-4 P-4">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>User Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.User.Identity.Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Kshiti Ghelani</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Username</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>@Model.Input.PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Password</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>********* <span>
    <button type="button" class="btn btn-sm bg-info" data-toggle="modal" data-target="#exampleModal">
        Change Password
    </button>
</span></p>
                                       

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-center ml-auto" id="exampleModalLabel">Change Password</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-row">

                                                            <div class="form-group col-md-6">
                                                                <label for="inputState">Password</label>
                                                                <input type="password" class="form-control" placeholder="First Name">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputState"> Confirm Password</label>
                                                                <input type="password" class="form-control" placeholder="First Name">
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            
        </div>
    </form>
</div>