@page
@using BasePackageModule1.Areas.Identity.Pages.Account.Manage
@model IndexModel

<h2>Dashborad</h2>
<hr>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header text-center">
                <h2 class="text-center">Total Agreements</h2>
            </div>
            <div class="card">
                <h3 class="text-center">10</h3>
            </div>
        </div>
    </div>
</div>
