@model BasePackageModule1.Models.ApplicationUser
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3 class="text-white">User Id : 01fe3828</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label>User Name:</label>
                                <input type="text" value="sarfarazmulick@gmail.com" readonly class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                                <label>Name:</label>
                                <input type="text" value="Sarfaraz " class="form-control" placeholder="Last name">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <label>Phone:</label>
                                <input type="text" value="86571413459" readonly class="form-control" placeholder="First name">
                            </div>
                            <div class="col">
                                <label>Email:</label>
                                <input type="text" value="sarfarazmulick@gmail.com" class="form-control" placeholder="Last name">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">

                            </div>

                        </div>
                    </form>
                    <h4>Address</h4>
                    <p>,,, </p>
                </div>
                <div class="card-footer"></div>
            </div>

        </div>

        <div class="col-sm-12 col-md-12">
            <div class="file-upload" style="border: 1px dashed; padding: 40px;">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="file" accept="*" placeholder="Upload their Document" />
                        </div>
                        <div class="col">

                            <input type="submit" value="Submit" />
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <h4>All Agreement</h4>
        </div>
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Download</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6/8/2021 10:18:09 PM</td>
                        <td><a href=""><i class="fa fa-download text-dark"></i></a></td>
                        <td><a href=""><i class="fa fa-eye text-dark"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>